html, body {
    height: 100%;
    overflow-x: hidden;
    padding: 0 !important;
    margin: 0 !important;
    background: var(--maiLight);
    color: var(--mainDark);
    font-family: Verdana, Geneva, Tahoma, sans-serif !important
}

/* header styles */

.header-banner {
    margin-top: 0;
    background: #000000
}